.ability-block {
  /* background-color: aquamarine; */
  display: flex;
}

.ability {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
}

.skills {
  /* background-color: blanchedalmond; */
  display: flex;
  flex-direction: column;
}

.skills > * {
  /* background-color: gold; */
  display: flex;
  flex-direction: row;
  margin: 0 0 -0.5em 0.5em;
}

.proficiency-span {
  display: inline-block;
  text-align: left;
  width: 2.2em;
}