.nav-viewport-height {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 210px;
  left: -200px;
  transition: 350ms;
}

.nav-viewport-height.visible {
  left: 0;
  transition: 350ms;
}

.nav {
  display: flex;
  margin: auto 0;
  padding: 10px 0;
  background-color: var(--black-var);
}

.nav-items {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.nav-items * {
  text-decoration: none;
  margin: 10px 0;
}

.nav-items button {
  justify-content: flex-start;
  text-transform: unset;
  font-size: 18px;
  padding: 8px 20px;
  width: 160px;
  border-radius: 3px;
  background-color: var(--red-dark);
  color: var(--white-var);
}

.nav-items button:hover {
  background-color: var(--red);
}