.nav-viewport-height {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: -100%;
  transition: 850ms;
}

.nav-viewport-height.visible {
  left: 0;
  transition: 350ms;
}

.nav {
  /* background-color: aquamarine; */
  display: flex;
  margin: auto 0;
}

.nav-items {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.nav-items * {
  margin: auto 0;
  text-decoration: none;
}

.nav-items button {
  text-align: left;
  width: 180px;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: unset;
  margin: 10px 0;
  justify-content: flex-start;
}