.combat-selection-row {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bookend {
  display: flex;
  justify-content: center;
  margin: 2.2em 0 2em;
}

.combat-selection-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.combatant-row {
  display: flex;
  justify-content: center;
}

.tab-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-label button {
  margin-left: 1em;
}

.start-combat {
  display: flex;
}

.start-combat button {
  margin: 0 auto;
  background-color: var(--red-dark);
  color: var(--white-var);
}

.start-combat button:hover {
  background-color: var(--red);
}