.combat-selection-row {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.combat-selection-bookends {
  display: flex;
  justify-content: center;
  margin: 2em 0 1em;
}

.combat-selection-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.combatant-row {
  display: flex;
  justify-content: center;
}